@import 'Mixins';

.typeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-180deg, hsl(0, 2%, 20%), 9%,hsl(196, 63%, 33%) 100%);
}
