@import "Mixins";

.carouselText {
  color: $studio-color;
  padding: 100px 0 0 0;
  background: #353333;
  width: 100%;
  text-align: center;

  .carouselHeading {
    font-family: $studio-name-font;
    font-size: 75px;
    color: $studio-color;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
  }
}

.typeContainer {
  background-image: linear-gradient(
    -180deg,
    #353333 9%,
    hsl(196, 63%, 33%) 100%
  );
  display: flex;
  min-width: 100%;
  min-height: 400px;
  overflow-x: auto;
  margin-top: -20px;
}
