@import 'Mixins';

.banner {
  width: 100%;
  background: linear-gradient(hsla(0, 0%, 0%, 0.3),
   hsla(0, 3%, 52%, 0.4)), url("./images/colorado-mountains.jpg");
  background-position: 50% 75%;
  background-size: cover;
  color: hsl(220, 10%, 94%);
  text-align: center;
  padding: 30px 0 30px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.coHeadingText,
.yoHeadingText {
  font-family: $heading-font;
  line-height: .9;
  font-size: 100px;
  text-shadow: 4px 6px 4px $coyo-text-shadow1, 2px 3px 2px $coyo-text-shadow2;
  letter-spacing: 10px;
}

h1 {
  width: 40%;  
  padding: 20px; 
  margin: 120px auto 15px auto;
  border-top: 2px dotted hsl(220, 10%, 94%);
  border-bottom: 2px dotted hsl(220, 10%, 94%);
}

.fullNameHeading {
  font-family: $full-name-heading;
  margin: 0 auto 50px auto;
  letter-spacing: 10px;
  padding: 0 0 10px 0;
  width: 70%;
  font-size: 20px;
}