@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|IM+Fell+Double+Pica|IM+Fell+English:400,400i|Tangerine');
@import url('https://fonts.googleapis.com/css?family=Aladin|Berkshire+Swash|Raleway:400,400i,800');
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');

// <<<<<<< HEAD
$primary-font: 'Raleway', sans-serif;
$heading-font: 'Londrina Outline', cursive;
$studio-name-font: 'Tangerine', cursive;
$full-name-heading: 'IM Fell English', serif;

$studio-search-border: hsl(211, 50%, 55%);
$studio-search-focus: hsl(0, 0%, 0%);
$show-all-btn: hsla(231, 48%, 56%, 1);
$show-btn-text: hsla(195, 48%, 88%, 1);
$nav-bar-bkrd: hsl(207, 76%, 8%);
$nav-bar-color: hsl(220, 10%, 94%);
$nav-logo-border: hsl(220, 10%, 94%);
$find-studio-btn: hsl(248, 49%, 37%);
$coyo-text-shadow1: hsla(0, 0%, 0%, 0.459);
$coyo-text-shadow2: hsla(283, 77%, 71%, 0.336);
$card-container-shadow: hsl(204, 42%, 27%);
$card-container-bkgrd: hsl(220, 10%, 94%);
$card-container-border: hsl(352, 81%, 15%);
$studio-color: hsl(198, 44%, 75%);
$studio-link-bkgrd: hsl(20, 3%, 55%);
$studio-link-hover: hsl(220, 10%, 94%);
$studio-hover-bkrd: hsl(224, 28%, 38%);
$studio-card-star-color: hsl(49, 94%, 51%);
$stars-outer-color: hsl(0, 0%, 80%);
$find-studio-btn-text: hsla(195, 0%, 100%, 1);
$body-background: hsl(207, 76%, 8%);
$yoga-type-shadow: hsl(204, 42%, 27%);
$type-background: hsl(220, 10%, 94%);
$type-border: hsl(0, 0%, 0%);

// =======

// font-family: 'IM Fell Double Pica', serif;
// font-family: 'Bilbo Swash Caps', cursive;
// >>>>>>> master
