@import "Mixins";

.navBar {
  background-color: hsla(226, 41%, 22%, 0.673);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $nav-bar-color;

  .logo {
    width: 3rem;
    border: 2px solid $nav-logo-border;
    border-radius: 5px;
    margin: 0 0 0 10px;

    .logoImg {
      width: 100%;
    }
  }

  .navList {
    display: flex;
    width: 18%;
    justify-content: space-around;
    font-size: 35px;
    margin-bottom: 3px;

    ul,
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;

      .icon:hover {
        color: $studio-color;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .navBar .navList {
    width: 50%;
  }
}