@import 'Mixins';

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: $primary-font;
}

.imageContainer {
   background-image: linear-gradient(-180deg, #353333
 9%,#1F6B87 100%);
   display: flex;
  min-width: 100%;
  min-height: 300px;
  overflow-x: auto;
}

.typeSmall {
  height: 350px;
  margin: 100px 30px;
}

.yogaTypeCard {
  border: 2px solid $type-border;
  border-radius: 5px;
  box-shadow:  3px 2px 2px $yoga-type-shadow;
  overflow-wrap: break-word;
  min-height: 300px;
  margin: 10px;
  max-width: 275px;
  padding: 20px;
  background: $type-background;
  display: none;
}

.typeHeading {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 3px;
}

.purpose {
  font-size: 16px;
  font-style: italic;
}

.beginner {
  margin-bottom: 0px;
}

.findStudioBtn {
  border-radius: 4px;
  background-color: $find-studio-btn;
  color: $find-studio-btn-text;
  width: 175px;
}

