@import 'Mixins';

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: $primary-font;
}

.imageContainer {
  position: relative;
  z-index: 5;
//  width: 100%;
//  height: 200px;
}

.typeSmall {
  min-height: 215px;
  min-width: 350px;
  margin: 100px 20px;
  transition:all 0.5s ease;
  position: relative;
  z-index: 1;
  cursor: pointer;
  &:hover {
    z-index: 20;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    // transform: scale(1.05);
    box-shadow:5px 5px 5px hsla(206, 40%, 8%, 0.658);
    transform: scale(1.1);
  }
    
}

.typeSmallImg {
  width: 100%;
  height: 100%; 
 
}





.yogaTypeCard {
  position: relative;
  // z-index: ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid $type-border;
  border-radius: 5px;
  box-shadow:  3px 2px 2px $yoga-type-shadow;
  min-width: 700px;
  max-height: 500px;
  margin: 50px 10px 10px 10px;
  padding: 20px;
  background: $type-background;
  text-align: center;
}

.hidden {
  display: none;
}

.typeHeading {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 3px;
}

.heading {
}

.purpose {
  font-size: 16px;
  font-style: italic;
}

.beginner {
  margin-bottom: 0px;
}

.findStudioBtn {
  border-radius: 4px;
  background-color: $find-studio-btn;
  color: $find-studio-btn-text;
  width: 40%;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}