@import 'Mixins';


// headingText co">CO</div>
//         <div className="headingText yo">YO</div>
//         <div className="headingText coyoHeading">Co


.banner {
  background-image: url("./colorado-mountains.jpg");
}

.headingText {
  color: #FFFFFF;
}

.co,
.yo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: .8;
  font-size: 100px;
}
