@import 'Mixins';

.banner {
  width: 100%;
  background: no-repeat bottom url("./colorado-mountains.jpg");
  filter: brightness(80%);
  color: $banner-color;
  text-align: center;
  padding: 100px;
}

.co,
.yo {
  font-family: $primary-font;
  font-weight: 800;
  line-height: .8;
  font-size: 100px;
  text-shadow: $coyo-text-shadow1 3px 3px 0px, $coyo-text-shadow2 5px 5px 0px;
}

h1 {
  margin: 0 0 75px 0;
}

.fullNameHeading {
  font-family: $heading-font;
}