@import 'Mixins';

ul,
li {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.navBar {
  // height: 50px;
  background: #051624 ;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #EFF0F2;
}

.navList{
  display: flex;
  width: 10%;
  justify-content: space-around;
  font-size: 30px;
}


.logo {
  width: 3rem;
  border: 1px solid  #EFF0F2;
  // border-radius: 5px;
  margin: 10px;
}

.logoImg {
  width: 100%;
}