@import 'Mixins';

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: $primary-font;
}

.imageContainer {
  width: 100%;
  margin: 80px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 150px 150px;
  grid-gap: 25px;
}

.typeSmall {
  width: 90%;
}

.yogaTypeCard {
  border: 2px solid $type-border;
  border-radius: 5px;
  box-shadow:  3px 2px 2px $yoga-type-shadow;
  overflow-wrap: break-word;
  min-height: 300px;
  margin: 10px;
  max-width: 275px;
  padding: 20px;
  background: $type-background;
  // display: none;
}

.typeHeading {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 3px;
}

.purpose {
  font-size: 16px;
  font-style: italic;
}

.beginner {
  margin-bottom: 0px;
}

.findStudioBtn {
  border-radius: 4px;
  background-color: $find-studio-btn;
  color: $find-studio-btn-text;
  width: 175px;
}

